<div class="row">
  <img class="img-fit" ng-src="assets/jonomeetandgreet-9-1.jpg">
</div>
<div class="row">
  <h2 class="text-center">Why Jono Cowgill should be your District 4 Park Board Commissioner</h2>
  <div class="col-md-6">
    <ul>
      <li><strong>Public Facing. Community Engaged.</strong> Jono works to further people-powered decision making. He works to bring underrepresented voices into policy and planning processes. </li>
      <li><strong>A Track Record of Leadership.</strong> Jono has led community-based engagement, planning, and research work for a wide array of public, private, and non-profit organizations in the Twin Cities, as well as San Francisco. He founded the Light
        a Spark Glassblowing program for underserved youth in San Francisco, and in Minneapolis has spearheaded the development of one of the City's first privately-developed parklets. </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li><strong>Policy Knowledge and Proven Success.</strong> Jono is a proven advocate for equity. As part of the OURMPLS project for Voices for Racial Justice he developed the equity framework for evaluating Minneapolis Park Board actions. He also was
        the principal author of a <a href="http://www.cura.umn.edu/publications/catalog/kncbr-1417" target="_blank">report</a> on Capital Improvement Budget Allocation in the City of St Paul. This report set off a <a href="http://www.twincities.com/2016/09/17/east-side-home-to-33-percent-of-st-paul-gets-19-percent-of-infrastructure-funding/"
          target="_blank">debate</a> in the city and has led to a complete <a href="http://www.twincities.com/2016/10/20/st-paul-city-council-rethinks-application-process-for-major-public-construction/" target="_blank">revamping</a> of the allocation process
        to include racial equity criteria in all infrastructure fund decision making. The report also recently won the Urban Institute's national G. Thomas Kingsley Impact Award.</li>
      <li>Jono's current work is focused on designing comprehensive planning processes that lift up the voices of people traditionally less involved in planning efforts. He also is passionate about planning for public spaces, and in his free time enjoys telling
        people about the unique benefits of parklets.</li>
    </ul>
  </div>
</div>
<div class="text-center">
  <button class="donate-donorbox" ng-click="ic.go('/support')">Support</button>
</div>
<div class="row">
  <h2 class="text-center">Personal</h2>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <p>Jono grew up in the parks of Minneapolis. His neighborhood parks were Whittier and Kenwood.</p>
    <p>Jono plays piano and basketball. </p>
    <p>Jono has became deeply involved in public spaces work, leading the creation of one of the city's first Parklets in the CARAG neighborhood, and spearheading a paint the pavement project at Mueller Park for the Lowry Hill East Neighborhood Association.</p>
    <p>Jono has a masters degree in urban planning from the Humphrey School of Public Affairs and currently lead planning projects for communities in the twin cities and beyond.</p>

  </div>

</div>
