<div class="row">
  <img class="img-fit" ng-src="assets/ConventionAd.jpeg" alt="Jono's D F L Convention ad" />
</div>
<article class="row">
  <div class="col-md-12">
    <p>
      Jono was elected in 2017 to represent District 4 on the Minneapolis Park Board. District 4 includes uptown and
      downtown Minneapolis and the Kenwood - Isles area. Jono is a Minneapolis native, an urban planner, and current
      resident of the Stevens Square neighborhood. Jono loves basketball, bicycling, playing piano, and gardening.
    </p>
    <p>Jono grew up in the parks of Minneapolis. His neighborhood parks were Whittier and Kenwood.</p>
    <p>
      Jono has become deeply involved in public spaces work, leading the creation of one of the city's first Parklets in
      the CARAG neighborhood, and spearheading a paint the pavement project at Mueller Park for the Lowry Hill East
      Neighborhood Association.
    </p>
    <p>
      Jono has a masters degree in urban planning from the Humphrey School of Public Affairs and currently lead planning
      projects for communities in the twin cities and beyond.
    </p>
  </div>
</article>
<div class="line"></div>
<div class="row">
  <h2 class="text-center mbottom">Jono Speaks regarding the Urban Agriculture Plan</h2>

  <section class="col-md-6 col-sm-12">
    <iframe
      src="https://player.vimeo.com/video/236158411"
      width="640"
      height="360"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
    <p>
      <a href="https://vimeo.com/236158411">MPRB Candidate Forum Dist. 4: Urban Ag Plan</a> from
      <a href="https://vimeo.com/dokar">D. Okar</a> on <a href="https://vimeo.com">Vimeo</a>.
    </p>
    <p>
      Parks &amp; Power and InquilinXs UnidXs por Justicia (Tenants United for Justice) hosted a Candidate Forum for
      Minneapolis Parks and Recreation Board Commissioner for District 4 on September 21. 2017. Features Tom Nordyke
      (DFL) and Jono Cowgill (DFL endorsed).
    </p>
  </section>
  <div class="col-md-6 col-sm-12">
    <img class="img-fit" ng-src="assets/MeandOmar.jpg" alt="Jono and Omar" />
  </div>
</div>
<div class="text-center">
  <button class="donate-donorbox" ng-click="ic.go('https://donorbox.org/jono-4-parks')">Support</button>
</div>
<!-- <div class="row">
  <h2 class="text-center">Personal</h2>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <p>Jono grew up in the parks of Minneapolis. His neighborhood parks were Whittier and Kenwood.</p>
    <p>Jono plays piano and basketball.</p>
    <p>
      Jono has become deeply involved in public spaces work, leading the creation of one of the city's first Parklets in
      the CARAG neighborhood, and spearheading a paint the pavement project at Mueller Park for the Lowry Hill East
      Neighborhood Association.
    </p>
    <p>
      Jono has a masters degree in urban planning from the Humphrey School of Public Affairs and currently lead planning
      projects for communities in the twin cities and beyond.
    </p>
  </div>
</div> -->
