<div class="row">
  <div class="col-md-12">
  <!-- <button class="en-btn" type="button" ng-click="dc.showTable(0)">Endorsements</button> -->
  <button class="en-btn" type="button" ng-click="dc.showTable(1)">Events</button>
  <button class="en-btn" type="button" ng-click="dc.showTable(2)">Messages</button>
  <button class="en-btn" type="button" ng-click="dc.showTable(3)">Signs</button>
  <a ng-if="dc.displayLogout" href="#!" ng-click="dc.logout()"><span class="menuItem">Logout</span></a>
  </div>
</div>

<div ng-if="dc.event">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
      <form>
        <input class="en-in" type="text" placeholder="Event Name" ng-model="dc.eventName">
        <input class="en-in" type="date" placeholder="Event Date" ng-model="dc.date">
        <input class="en-in" type="text" placeholder="Time" ng-model="dc.time">
        <input class="en-in" type="text" placeholder="Location" ng-model="dc.location">
        <input class="en-in" type="text" placeholder="Event url (http://)" ng-model="dc.url">
        <textarea class="block centered" placeholder="Description" rows="8" cols="80" ng-model="dc.description"></textarea>
        <button class="block en-btn" ng-click="dc.addToEvents()">Save Event</button>
      </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table id="events">
        <tr>
          <th>Event Name</th>
          <th>Event Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr ng-repeat='x in dc.tableData'>
          <td>{{ x.eventName}}</td>
          <td>{{ x.date | date:'mediumDate'}}</td>
          <td>{{ x.time }}</td>
          <td>{{ x.location }}</td>
          <td><button ng-click="dc.openEventModal(x)">EDIT</button></td>
          <td><button ng-click='dc.removeEvent(x._id)'>DELETE</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row" ng-if="dc.message">
  <div class="col-md-12">
    <table id="message">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Read</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat='x in dc.tableData'>
        <td>{{ x.firstName }}</td>
        <td>{{ x.lastName }}</td>
        <td>{{ x.phone }}</td>
        <td>{{ x.email }}</td>
        <td><button ng-if="x.comment" ng-click="dc.openMessageModal(x)">Read</button></td>
        <td><button ng-click='dc.removeMessage(x._id)'>DELETE</button></td>
      </tr>
    </table>
  </div>
</div>
<div class="row" ng-if="dc.signs">
  <div class="col-md-12">
    <table id="signs">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat='x in dc.tableData'>
        <td>{{ x.firstSign }}</td>
        <td>{{ x.lastSign }}</td>
        <td>{{ x.address }}</td>
        <td>{{ x.signPhone }}</td>
        <td><button ng-click='dc.removeSign(x._id)'>DELETE</button></td>
      </tr>
    </table>
  </div>
</div>

<!-- The Modal -->
<div id="endorseModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="document.getElementById('endorseModal').style.display = 'none'">&times;</span>

    <p><strong>First Name: </strong></p>
    <p editable-text="dc.changes.firstName">
      {{ dc.changes.firstName }}<br>
    </p>
    <p><strong>Last Name: </strong></p>
    <p editable-text="dc.changes.lastName">
      {{ dc.changes.lastName }}
    </p>
    <p><strong>Occupation: </strong></p>
    <p editable-text="dc.changes.occupation">
      {{ dc.changes.occupation }}
    </p>
    <button ng-click="dc.editEndorse(dc.changes._id)">Edit</button>
  </div>
</div>

<!-- The Modal -->
<div id="messageModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="document.getElementById('messageModal').style.display = 'none'">&times;</span>

    <p><strong>From: </strong>
      {{ dc.changes.firstName }} {{ dc.changes.lastName }}
    </p>
    <p><strong>Phone: </strong>
      {{ dc.changes.phone }}
    </p>
    <p><strong>Email:</strong>
      {{ dc.changes.email }}
    </p>
    <p><strong>Message: </strong></p>
    <p>
      {{ dc.changes.comment }}
    </p>
    <button onclick="document.getElementById('messageModal').style.display = 'none'">Close</button>
  </div>
</div>


<!-- The Modal -->
<div id="eventModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="document.getElementById('eventModal').style.display = 'none'">&times;</span>

    <p><strong>Event Name: </strong></p>
    <p editable-text="dc.changes.eventName">
      {{ dc.changes.eventName }}<br>
    </p>
    <p><strong>Date: </strong></p>
    <p editable-text="dc.changes.date">
      {{ dc.changes.date | date: 'mediumDate' }}
    </p>
    <p><strong>Time: </strong></p>
    <p editable-text="dc.changes.time">
      {{ dc.changes.time }}
    </p>
    <p><strong>Location: </strong></p>
    <p editable-text="dc.changes.location">
      {{ dc.changes.location }}
    </p>
    <p><strong>Event url: </strong></p>
    <p editable-text="dc.changes.url">
      {{ dc.changes.url }}
    </p>
    <p><strong>Description: </strong></p>
    <p editable-text="dc.changes.description">
      {{ dc.changes.description }}
    </p>
    <button ng-click="dc.editEvents(dc.changes._id)">Edit</button>
  </div>
</div>
