<div class="row">
  <button type="button" ng-click="dc.showTable(0)">Endorsements</button>
  <button type="button" ng-click="dc.showTable(1)">Events</button>
  <button type="button" ng-click="dc.showTable(2)">Messages</button>
  <a ng-if="dc.displayLogout" href="#!" ng-click="dc.logout()"><span class="menuItem">Logout</span></a>
</div>
<div class="row" ng-if="dc.endorse">
  <div class="col-md-12">
    <table id="endorse">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Occupation</th>
        <th></th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat='x in dc.endorsements'>
        <td>{{ x.firstName }}</td>
        <td>{{ x.lastName }}</td>
        <td>{{ x.occupation }}</td>
        <td></td>
        <td><button ng-click='dc.openEndorseModal(x._id)'>Edit</button></td>
        <td><button ng-click='dc.removeRow("/private/endorse", x._id)'>DELETE</button></td>
      </tr>
    </table>
  </div>
</div>
<div class="row" ng-if="dc.event">
  <div class="col-md-12">
    <table id="events">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Employee ID</th>
        <th>Job Title</th>
        <th>Pay</th>
        <th></th>
      </tr>
      <tr ng-repeat='employees in dc.events'>
        <td>{{ employees.first | lowercase}}</td>
        <td>{{ employees.last | uppercase}}</td>
        <td>{{ employees.id }}</td>
        <td>{{ employees.title | json}}</td>
        <td>{{ employees.pay | currency}}</td>
        <td><button ng-click='dc.removeRow($index)'>DELETE</button></td>
      </tr>
    </table>
  </div>
</div>
<div class="row" ng-if="dc.message">
  <div class="col-md-12">
    <table id="message">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Employee ID</th>
        <th>Job Title</th>
        <th>Pay</th>
        <th></th>
      </tr>
      <tr ng-repeat='employees in dc.messages'>
        <td>{{ employees.first | lowercase}}</td>
        <td>{{ employees.last | uppercase}}</td>
        <td>{{ employees.id }}</td>
        <td>{{ employees.title | json}}</td>
        <td>{{ employees.pay | currency}}</td>
        <td><button ng-click='dc.removeRow($index)'>DELETE</button></td>
      </tr>
    </table>
  </div>
</div>

<!-- The Modal -->
<div id="subjective" class="modal">
  <div class="modal-content">
    <span class="close" onclick="document.getElementById('subjective').style.display = 'none'">&times;</span>

    <p><strong>First Name: </strong></p>
    <p editable-text="dc.changes.occupation">
      {{ dc.changes.firstName || 'empty' }}<br>
    </p>
    <p><strong>Last Name: </strong></p>
    <p editable-text="dc.changes.occupation">
      {{ dc.changes.lastName || 'empty' }}
    </p>
    <p><strong>Occupation: </strong></p>
    <p editable-text="dc.changes.occupation">
      {{ dc.changes.occupation || 'empty' }}
    </p>
    <button ng-click="editEndorse(dc.changes._id)"></button>
  </div>
</div>
