<div class="row">
  <button type="button" ng-click="dc.showTable(0)">Endorsements</button>
  <button type="button" ng-click="dc.showTable(1)">Events</button>
  <button type="button" ng-click="dc.showTable(2)">Messages</button>
  <a ng-if="dc.displayLogout" href="#!" ng-click="dc.logout()"><span class="menuItem">Logout</span></a>
</div>
<div class="row" ng-if="dc.endorse">
  <div class="col-md-12">
    <table id="endorse">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Occupation</th>
        <th></th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat='x in dc.tableData'>
        <td>{{ x.firstName }}</td>
        <td>{{ x.lastName }}</td>
        <td>{{ x.occupation }}</td>
        <td></td>
        <td><button ng-click='dc.openEndorseModal(x)'>Edit</button></td>
        <td><button ng-click='dc.removeRow("/private/endorse", x._id)'>DELETE</button></td>
      </tr>
    </table>
  </div>
</div>
<div ng-if="dc.event">
  <div class="row">
    <div class="col-md-12">
      <form>
        <input type="text" placeholder="Event Name" value="">
        <input type="date" placeholder="Event Date" value="">
        <input type="text" placeholder="Time" value="">
        <input type="text" placeholder="Location" value="">
        <textarea placeholder="Description" rows="8" cols="80"></textarea>
        <button type="button" name="button">Save Event</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table id="events">
        <tr>
          <th>Event Name</th>
          <th>Event Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr ng-repeat='x in dc.tableData'>
          <td>{{ x.eventName}}</td>
          <td>{{ x.eventDate }}</td>
          <td>{{ x.time }}</td>
          <td>{{ x.location }}</td>
          <td><button type="button" name="button">EDIT</button></td>
          <td><button ng-click='dc.removeRow($index)'>DELETE</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row" ng-if="dc.message">
  <div class="col-md-12">
    <table id="message">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Message</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat='x in dc.tableData'>
        <td>{{ x.firstName }}</td>
        <td>{{ x.lastName }}</td>
        <td>{{ x.phone }}</td>
        <td>{{ x.email }}</td>
        <td>{{ x.comment }}</td>
        <td><button ng-click='dc.removeRow($index)'>DELETE</button></td>
      </tr>
    </table>
  </div>
</div>

<!-- The Modal -->
<div id="endorseModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="document.getElementById('endorseModal').style.display = 'none'">&times;</span>

    <p><strong>First Name: </strong></p>
    <p editable-text="dc.changes.firstName">
      {{ dc.changes.firstName }}<br>
    </p>
    <p><strong>Last Name: </strong></p>
    <p editable-text="dc.changes.lastName">
      {{ dc.changes.lastName }}
    </p>
    <p><strong>Occupation: </strong></p>
    <p editable-text="dc.changes.occupation">
      {{ dc.changes.occupation }}
    </p>
    <button ng-click="dc.editEndorse(dc.changes._id)">Edit</button>
  </div>
</div>

<!-- The Modal -->
<div id="eventModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="document.getElementById('eventModal').style.display = 'none'">&times;</span>

    <p><strong>Event Name: </strong></p>
    <p editable-text="dc.changes.eventName">
      {{ dc.changes.eventName }}<br>
    </p>
    <p><strong>Date: </strong></p>
    <p editable-text="dc.changes.date">
      {{ dc.changes.eventDate }}
    </p>
    <p><strong>Time: </strong></p>
    <p editable-text="dc.changes.time">
      {{ dc.changes.time }}
    </p>
    <p><strong>Location: </strong></p>
    <p editable-text="dc.changes.location">
      {{ dc.changes.location }}
    </p>
    <p><strong>Description: </strong></p>
    <p editable-text="dc.changes.description">
      {{ dc.changes.description }}
    </p>
    <button ng-click="dc.editEndorse(dc.changes._id)">Edit</button>
  </div>
</div>
