<div class="row">
  <div class="col-md-4 col-sm-12">
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="card">
      <p>Endorse Jono</p>
      <form class="endorse-jono img-fit" name="endorse">
        <input class="block en-in" type="text" placeholder="First name" ng-model="ec.firstName" required>
        <input class="block en-in" type="text" placeholder="Last name" ng-model="ec.lastName" required>
        <input class="block en-in" type="text" placeholder="Occupation" ng-model="ec.occupation" required>
        <button class="block en-btn" type="submit" ng-click="ec.addEndorsement()" ng-disabled="endorse.$invalid">Endorse</button>
      </form>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-4 col-sm-12">
    <img id="aj" class="img-fit" ng-src="assets/endorse-6_cm_aj.jpeg" alt="">
  </div>
  <div class="col-md-4 col-sm-12">
    <img class="img-fit" ng-src="assets/endorse-5_cm_lb.jpeg" alt="">
  </div>
  <div class="col-md-4 col-sm-12">
    <img class="img-fit" ng-src="assets/endorse-4_sen_dibble.jpeg" alt="">
  </div>
</div>
<h2 class="text-center">Thank you for your support!</h2>
<div class="row">
  <div class="col-md-4 col-sm-12" ng-repeat="rows in ec.endorseArr">
    <p class="text-center" ng-repeat="x in rows">{{x.firstName}} {{x.lastName}}, {{x.occupation}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
      Grace Fleming, Wedge Neighbor | Allen Young, Whittier Neighbor | Hunter Johnson, Filmmaker and Stevens Square Neighbor | Shariena "Shazzy" Chandler, Whittier Neighbor | OurRevolution TC and OurRevolution MN Jen Kader, Water and Climate Change Professional
      | Justin Kader, Whittier Neighbor | Bonnie Morris and Dean Holzman, ECCO Residents | Myles Peterson and Jordan Parshall, Wedge Neighbors | Michael Friedman, Wedge Neighbor | Alicia Valenti, Loring Park Neighbor | Caroline Olstad, Lowry Hill Neighbor
      | ​Jessie Backer, Prisoners Rights Advocate | Kadence Hampton, Active Transportation Advocate | Jake Knight, Neighbor and Transportation Planner | Hannah Gary, Whittier Neighbor | Katie Jones Schmitt and Peter Schmitt, Wedge Neighbors | Michael
      Lupu, Lowry Hill Neighbor | Mariah Weitzenkamp, Wedge Neighbor | Linda Moncada, Local Artist | Patrick Connerton, Whittier Neighbor | ​Ryann Freeman, Whittier Neighbor | Laura Hudson, Wedge Neighbor | Andy Velez and Emma Cutler, Lowry Hill Residents
      | Joe Moran, Wedge Neighbor | Mike Sevilla and Gillian Jones, Loring Park Residents | Max Musicant, Whittier Neighbor | Shane Moren, Wedge Neighbor | Daniela Lorenz, Planner | Amyanne Alderete, Designer | Sam Baker and Lauren Brady | Nick Chrastil,
      Filmmaker and Writer | James Gleckner, Education Policy Expert
    </p>
  </div>
</div>
<h2 class="text-center">Jono Is Also Endorsed By</h2>
<div class="row">
  <div class="col-md-3">
    <img class="img-fit" ng-src="assets/dfl-endorse.png" alt="">
  </div>
  <div class="col-md-3">
    <img class="img-fit" ng-src="assets/Minneapolis-Labor-Federation-Logo.jpg" alt="">
  </div>
  <div class="col-md-3">
    <img class="img-fit" ng-src="assets/xOurRev-Logo-Final-05-600.jpg.pagespeed.ic.ffd2kXREie.jpg" alt="">
  </div>
  <div class="col-md-3">
    <img class="img-fit" ng-src="assets/MPEA_logo_outlined.png" alt="">
  </div>
</div>
