<div class="row">
  <img class="img-fit" ng-src="assets/night_lake.jpeg" alt="Minneapolis Lake by night">
</div>
<div class="text-center">
    <button class="donate-donorbox" ng-click="ic.go('https://jono4parks.us15.list-manage.com/subscribe?u=a8d7e819d5c9a49307f3384f8&id=b4d7d956c9')">Subscribe to Jono's Newsletter</button>
  </div>
<div class="row mbottom">
  <div class="col-md-4">
    <a class="text-center vote" href="/sierra" target="_blank"><h3>Jono's Answers to the Sierra Club's Screening Questions</h3></a>
  </div>
  <div class="col-md-4">
    <a class="text-center vote" href="/mydfl" target="_blank"><h3>Jono's answers to the Minnesota Young DFL's Park Board questionnaire</h3></a>
  </div>
  <div class="col-md-4">
    <a class="text-center vote" href="https://lwvmpls.org/district-4/" target="_blank"><h3>Jono's Answers to the League of Women Voters Questionaire</h3></a>
  </div>
</div>
<div class="line mbottom"></div>
<div class="row noPhone">
  <div class="col-md-4">
    <h2 class="text-center"><strong>Parks for and by the people</strong></h3>
  </div>
  <div class="col-md-4">
    <h2 class="text-center"><strong>A sustainable, equitable park system</strong></h3>
  </div>
  <div class="col-md-4">
    <h2 class="text-center"><strong>Safe parks for everyone</strong></h3>
  </div>
</div>

<article class="row">
  <section class="col-md-4">
    <h2 class="text-center phone"><strong>Parks for and by the people</strong></h3>
    <p>Parks for and by the people
Let's work together in building a 21st century park system that is for and by the people. We can foster greater flexibility and responsiveness in our parks by breaking down programming budgets park-by-park. We can also localize our volunteering and remove needless paperwork. As a Lowry Hill East neighborhood board member I know that is local residents who best understand what our local parks need. Let's get everyone involved in stewarding our parks!</p>
  </section>
  <section class="col-md-4">
    <h2 class="text-center phone"><strong>A sustainable, equitable park system</strong></h3>
    <p>A better system together means being forward-thinking on sustainability and equity. Let's invest in a climate action plan, carbon sequestration, and move towards pesticide free parks! We also need to continue to boldly weave equity through all decision making. As the the primary author of a transformative study that put equity into all St Paul infrastructure spending, I know what it takes to make equity a priority.</p>
  </section>
  <section class="col-md-4">
    <h2 class="text-center phone"><strong>Safe parks for everyone</strong></h3>
    <p>Let's recognize that safe parks are active parks. Let’s activate our public spaces with dynamic, intergenerational programming. I grew up in the Kenwood Rec Plus program. I’m an urban planner who works with communities to activate public space. I know that active urban spaces benefit us all by increasing safety and ensuring we know our neighbors. </p>
  </section>
</article>


<div class="text-center">
  <button class="donate-donorbox" ng-click="ic.go('https://donorbox.org/jono-4-parks')">Support</button>
</div>
