<div class="row">
  <div class="col-md-4">
    <h2><strong>Parks for and by the people</strong></h3>
  </div>
  <div class="col-md-4">
    <h2><strong>A sustainable, equitable park system</strong></h3>
  </div>
  <div class="col-md-4">
    <h2><strong>Safe parks for everyone</strong></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>Parks for and by the people
Let's work together in building a 21st century park system that is for and by the people. We can foster greater flexibility and responsiveness in our parks by breaking down programming budgets park-by-park. We can also localize our volunteering and remove needless paperwork. As a Lowry Hill East neighborhood board member I know that is local residents who best understand what our local parks need. Let's get everyone involved in stewarding our parks!</p>
  </div>
  <div class="col-md-4">
    <p>A better system together means being forward-thinking on sustainability and equity. Let's invest in a climate action plan, carbon sequestration, and move towards pesticide free parks! We also need to continue to boldly weave equity through all decision making. As the the primary author of a transformative study that put equity into all St Paul infrastructure spending, I know what it takes to make equity a priority.</p>
  </div>
  <div class="col-md-4">
    <p>Let's recognize that safe parks are active parks. Let’s activate our public spaces with dynamic, intergenerational programming. I grew up in the Kenwood Rec Plus program. I’m an urban planner who works with communities to activate public space. I know that active urban spaces benefit us all by increasing safety and ensuring we know our neighbors. </p>
  </div>
</div>
