
  <div class="row eback">
    <div class="col-md-6">
      <img src="" alt="">
      <p class="text-center contact">
        <br>
        Jono Cowgill<br>
        2517 Bryant Ave S, #102 <br>
        Minneapolis, MN 55405 <br>
        612-598-5157<br>
        jono4parks@gmail.com
      </p>
    </div>
    <div class="col-md-6">
      <div class="card">
        <p class="">Sign Up for a Jono 4 Parks Yard Sign!</p>
        <form class="endorse-jono img-fit" name="sign">
          <input class="block en-in" type="text" placeholder="First name" ng-model="sc.firstSign" required>
          <input class="block en-in" type="text" placeholder="Last name" ng-model="sc.lastSign" required>
          <input class="block en-in" type="text" placeholder="Address" ng-model="sc.address" required>
          <input class="block en-in" type="text" placeholder="Phone (555)555-5555" ng-model="sc.signPhone" required>
          <button class="block en-btn" type="submit" ng-click="sc.sendSign()" ng-disabled="sign.$invalid">Send me a Sign</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <button class="donate-donorbox" ng-click="sc.go('https://donorbox.org/jono-4-parks')">Donate</button>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <p>Want to get involved?  Leave me a message</p>
      <form name="support">
        <input class="en-in" type="text" placeholder="First Name" ng-model="sc.firstName" required><span>&#x2a</span>
        <input class="en-in clock" type="text" placeholder="Last Name" ng-model="sc.lastName" required><span>&#x2a</span>
        <input class="en-in" type="email" placeholder="Email" ng-model="sc.email" required><span>&#x2a</span>
        <input class="en-in" type="text" placeholder="Phone (555)555-5555" ng-model="sc.phone">
        <textarea class="block centered" rows="8" cols="80" placeholder="Comment" ng-model="sc.comment"></textarea>
        <button class="block en-btn" ng-click="sc.addToList()" ng-disabled="support.$invalid">Support</button>
      </form>
    </div>
  </div>
</div>
