
  <div class="row eback">
    <div class="col-md-12">
      <img src="" alt="">
      <p class="text-center contact">
        <br>
        Jono 4 Parks<br>
        1910 1st Ave S <br>
        Minneapolis, MN 55405 <br>
        612-598-5157<br>
        jono4parks@gmail.com
      </p>
    </div>
  </div>
</div>
<div class="text-center">
  <button class="donate-donorbox" ng-click="sc.go('https://donorbox.org/jono-4-parks')">Donate</button>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <p>Want to get involved?  Leave me a message</p>
      <form name="support">
        <input class="en-in" type="text" placeholder="First Name" ng-model="sc.firstName" required> <span>&#x2a</span>
        <input class="en-in clock" type="text" placeholder="Last Name" ng-model="sc.lastName" required><span>&#x2a</span>
        <input class="en-in" type="email" placeholder="Email" ng-model="sc.email" required><span>&#x2a</span>
        <input class="en-in" type="text" placeholder="Phone (555)555-5555" ng-model="sc.phone">
        <textarea class="block centered" rows="8" cols="80" placeholder="Comment" ng-model="sc.comment"></textarea>
        <button class="block en-btn" ng-click="sc.addToList()" ng-disabled="support.$invalid">Support</button>
      </form>
    </div>
  </div>
</div> -->
