<div class="row">
  <div class="col-md-12">
  <img class="img-fit" ng-src="assets/ConventionAd.jpeg" alt="">
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <h2 class="text-center">Who is Jono?</h2>
    <img class="img-fit" ng-src="assets/jono-5.jpeg" alt="">
    <p>
      Hi, my name is Jono!  I am an urban planner, proud South High graduate, and a product of our parks.
      I do community-based engagement, planning, and research work for a wide array of public, private, and non-profit organizations in the Twin Cities.
      I am also an active community member! Here I am painting a mural with my neighbors:
    </p>
    <img class="img-fit" ng-src="assets/jono-paints.png" alt="">
    <p>
       I am currently chair of the Lowry Hill East Neighborhood Open Spaces Committee.
       I spearheaded the development of one of Minneapolis' first parklets in the CARAG neighborhood.
       I have a degree in English from Pacific Lutheran University and a masters degree in Urban and Regional Planning from the Humphrey School of Public Affairs.
    </p>
  </div>
  <div class="col-md-6 col-sm-12">
    <h2 class="text-center">Why is Jono running for Park Board?</h2>
    <p class="quote">
      "I'm running for Park Board to advocate for a park system that works for everybody.
       Today and for generations to come."
     </p>
     <p>
       I am running for Park Board to make our parks friendlier for everybody.
        I have the experience, the passion, and the ideas to be an effective, responsive steward of our beloved parks.
As Park Board Commissioner for District 4, I am passionate about working on these key areas.
     </p>
     <ul>
       <li><strong>Parks for and by the people.</strong> Let’s empower local stewardship of our parks, by allowing more local, active participation in bettering our parks, moving towards participatory budgeting, and creating meaningful partnerships with community groups.</li>
       <li><strong>Safe parks are active parks.</strong> We should be spending more money on youth programming than we do on police enforcement, not the other way around.</li>
       <li><strong>Be bold stewards of our environment</strong> to combat climate change. Let’s invest in rain gardens, carbon sequestration, and end the use of pesticides in the parks.</li>
       <li><strong>Weave an equity framework through all park decisions.</strong> I am well-versed in performing equity and policy analyses. I wrote a transformative equity-based study on capital budget spending in Saint Paul that spurred an overhaul of the entire spending process. I will bring this perspective to evaluating all our park spending.</li>
     </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="en-btn centered" ng-click="wc.go('/support')">Support</button>
    </div>
  </div>
</div>
